<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Project</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="title">WEATHER PROJECT</h1>
    <form action="/weather" method="post">
        <input type="text" name="city" id="cityname" autocomplete="off">
        <button type="submit">Search</button>
    </form>
    
</body>
</html>